<div class="index_grid">
  <section class="users-section">
    <h2 class="friends_List">Your Friends</h2>
    <%= render 'friends' %>

  </section>
  <section class="users-section">
    <h2 class="friends_List">All Users</h2>
    <ul class="users-list">
      <% @users.each do |user| %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            <% if current_user.id != user.id %>
              <%= friendship_status(user.id) %>
            <% end %>

            <%#= link_to 'Send Request',  user_path(user), class: 'friend_button' %>
          </span>
          <%# if current_user.id != user.id %>
<!--            <span class="friend_button"></span>-->
          <%# end %>
        </li>
      <% end %>
    </ul>
  </section>
  <div class="index_grid-left">
    <section class="users-section">
      <h2 class="friends_List">Received Requests</h2>
      <%= render 'received' %>

    </section>
    <section class="users-section">
      <h2 class="friends_List">Pending Requests</h2>
      <%= render 'pending' %>
    </section>
  </div>
</div>
